<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">
<TITLE>View Toolbar command</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000">

<h3>

<B>Toolbar command (<a href="menu_view.htm">View menu</a>)</B></h3>
<P>Use this command to display and hide the <A HREF="../MainWindow/afx_hidw_toolbar.htm">Toolbar</A>, which includes buttons for some of the most common commands in WaveSoap, such as File Open.  A check mark appears next to the menu item when the Toolbar is displayed.</P>

</BODY>
</HTML>
