<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">
<TITLE>View menu</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000">

<h2><B>View menu commands</B></h2>

<P>The View menu offers the following commands:</P>

<TABLE border=1 cols=2 frame=box rules=all width=661 cellspacing="0" cellpadding="2" height="486">

<TR VALIGN="top">
<TD width=178> <A HREF="hid_view_toolbar.htm">Toolbar</A></TD>
<TD width=126>&nbsp;</TD>
<TD width=355>Shows or hides the <a href="../MainWindow/afx_hidw_toolbar.htm">
toolbar</a>. </TD>
</TR>

<TR VALIGN="top">
<TD width=178> <A HREF="hid_view_status_bar.htm">Status Bar</A></TD>
<TD width=126>&nbsp;</TD>
<TD width=355>Shows or hides the <a href="../MainWindow/afx_hidw_status_bar.htm">
status bar</a>.
</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_waveform.htm">Waveform</a></TD>
<TD width=126>Alt+1</TD>
<TD width=355>Shows <a href="../MainWindow/waveform_view.htm">waveform</a>
</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_fft.htm">FFT Spectrum</a></TD>
<TD width=126>Alt+2</TD>
<TD width=355>Shows <a href="../MainWindow/fft_spectrum_view.htm">FFT spectrum</a> instead of waveform
</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_spectrum_section.htm">Spectrum Section</a></TD>
<TD width=126>Alt+3</TD>
<TD width=355>Shows or hides <a href="../MainWindow/spectrum_section_pane.htm">spectrum section
</a>view
</TD>
</TR>

<tr>
<TD width=178><a href="hid_view_outline.htm">Outline</a></TD>
<TD width=126>Alt+4</TD>
<TD width=355>Shows or hides the file
<a href="../MainWindow/wave_outline_view.htm">outline</a>
</TD>
</tr>

<TR VALIGN="top">
<TD width=178><a href="hid_view_zoom_in_time.htm">Zoom In Time</a></TD>
<TD width=126>Num +</TD>
<TD width=355>Magnifies the file view on the time axis
</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_zoom_out_time.htm">Zoom Out Time</a></TD>
<TD width=126>
Num -</TD>
<TD width=355>
</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_zoom_selection.htm">Zoom To Selection</a></TD>
<TD width=126>
Shift+Num+</TD>
<TD width=355>
Changes view scale so all the selected area would fit to the window</TD>
</TR>

<TR VALIGN="top">
<TD width=178>&nbsp;</TD>
<TD width=126>
&nbsp;</TD>
<TD width=355>
&nbsp;</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="#time_ruler">Time Ruler</a></TD>
<TD width=126>
&nbsp;</TD>
<TD width=355>
Opens submenu for enabling or disabling <a href="../MainWindow/time_ruler.htm">time ruler</a> and 
changing time display
format</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_zoom_in_amplitude.htm">Zoom In Amplitude</a></TD>
<TD width=126>
Alt+Up</TD>
<TD width=355>
Magnifies the waveform view on the amplitude axis</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_zoom_out_amplitude.htm">Zoom Out Amplitude</a></TD>
<TD width=126>
Alt+Down</TD>
<TD width=355>
</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="#amplitude_ruler">Amplitude Ruler</a></TD>
<TD width=126>
&nbsp;</TD>
<TD width=355>
Opens submenu for enabling or disabling 
<a href="../MainWindow/amplitude_ruler.htm">amplitude ruler</a> and changing 
amplitude display
format</TD>
</TR>

<TR VALIGN="top">
<TD width=178>
<a href="hid_view_rescan_peaks.htm">Rescan Peaks</a></TD>
<TD width=126>
&nbsp;</TD>
<TD width=355>
Rescan the sound file to collect information about peak outline.</TD>
</TR>

</TABLE>

<p><a name="time_ruler"></a>Time ruler popup menu:</p>

<TABLE border=1 cols=2 frame=box rules=all width=658 id="table1" cellspacing="0" cellpadding="2">

<TR VALIGN="top">
<TD width=178><a href="hid_view_time_ruler.htm">Enable</a></TD>
<TD width=82>
Alt+5</TD>
<TD width=379>
Enables or disables <a href="../MainWindow/time_ruler.htm">time ruler</a> 
display</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_ruler_samples.htm">Samples</a></TD>
<TD width=82>
&nbsp;</TD>
<TD width=379>
Show sample number in the time ruler.</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_ruler_hhmmss.htm">HH:MM:SS</a></TD>
<TD width=82>
&nbsp;</TD>
<TD width=379>
Show time as hour:minute:second.milisecond in the time ruler.</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_ruler_seconds.htm">Seconds</a></TD>
<TD width=82>
&nbsp;</TD>
<TD width=379>
Show time as second.milisecond in the time ruler, for example 550.435 - 550 
seconds 435 miliseconds.</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_ruler_hhmmssff.htm">HH:MM:SS.FF</a></TD>
<TD width=82>
&nbsp;</TD>
<TD width=379>
Show time as hour:minute:second.CD_frame in the time ruler. CD frame rate is 75 
per second. For example 1:02:35.15 - 1 hour 2 minutes 35 seconds and 15 frames 
(15/75 second).</TD>
</TR>

</TABLE>

<p><a name="amplitude_ruler"></a>Amplitude ruler popup menu:</p>

<TABLE border=1 cols=2 frame=box rules=all width=658 id="table2" cellspacing="0" cellpadding="2">

<TR VALIGN="top">
<TD width=178><a href="hid_view_vertical_ruler.htm">Enable</a></TD>
<TD width=82>
Alt+6</TD>
<TD width=379>
Enables or disables <a href="../MainWindow/amplitude_ruler.htm">amplitude ruler</a> 
display</TD>
</TR>

<TR VALIGN="top">
<TD width=178>
<a href="hid_view_ampl_ruler_samples.htm">Sample value</a></TD>
<TD width=82>
&nbsp;</TD>
<TD width=379>
Show sample value on the amplitude ruler.
</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_ampl_ruler_percent.htm">Percent</a></TD>
<TD width=82>
&nbsp;</TD>
<TD width=379>
Show percents of the full amplitude on the ruler.</TD>
</TR>

<TR VALIGN="top">
<TD width=178><a href="hid_view_ampl_ruler_decibels.htm">dB</a></TD>
<TD width=82>
&nbsp;</TD>
<TD width=379>
Show decibel values on the ruler.</TD>
</TR>

</TABLE>

</BODY>
</HTML>
