*       text=auto
*.c     text
*.h     text
*.cpp   text
*.CPP   text
*.hpp   text
*.xml   text
*.dsp   text
*.DSP   text
*.dsw   text
*.vcproj* text
*.vcxproj* text
*.exe   binary
*.EXE   binary
*.zip   binary
*.ZIP   binary
*.lib   binary
*.doc   binary
*.docx  binary
*.pdf   binary
*.png   binary
*.jpg   binary
