*       text=auto
*.c     text
*.h     text
*.cpp   text
*.hpp   text
*.hh?   text
*.xml   text
*.rc    text working-tree-encoding=WINDOWS-1252
*.dsp   text eol=crlf
*.dsw   text eol=crlf
*.vcproj* text eol=crlf
*.vcxproj* text eol=crlf
*.exe   binary
*.zip   binary
*.lib   binary
*.doc   binary
*.docx  binary
*.pdf   binary
*.png   binary
*.jpg   binary
